language: python
python:
- 3.6
services:
- docker
install:
- docker build -t max-weather-forecaster .
- docker run -it -d -p 5000:5000 max-weather-forecaster
before_script:
- pip install pytest requests
- tar -zxvf assets/lstm_weather_test_data.tar.gz -C assets
script:
- pytest tests/test.py